*{
    padding: 0px;
    margin: 1px;  
    
} 
span{
    color: rgb(230, 109, 109);
}
button{
   background-image: linear-gradient( rgb(17, 226, 181),rgb(37, 176, 240));
   width: 100px;
   margin: 10px;
   
}
form{
    text-align: center;
    border: 2px solid rgb(199, 64, 10);
    margin-left: 38%;
    margin-right:38%;
    height:350px;
    border-radius:5px;
    position:absolute; 
    width:250px;
}
.forget{
    margin-right: 60px;
    
    
}
input{
    margin: 5px;
    border-radius: 5px;
    
}
::placeholder{
    text-align: center;
    margin-left: 50px;
    padding-right: 80px;
    
}
.singup{
    margin-bottom:50;
}
h1{
    margin:20px;
}
    

 
 
