*{
    padding: 5px;
    margin: 0px;
   
}
form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
    
}
.div1{
    border: 2px blueviolet solid;
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%;
    position: absolute;
    
   
}
input{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;

}
h3{
    text-align:center;
    color: rgb(228, 23, 23);
}
h4{
    color: rgb(103, 223, 223);
}
span{
    color: red;
    padding-right: 130px;
}
